.vs
bin
obj
smart.sorteioNET/wwwroot/campanha
smart.sorteioNET/wwwroot/Relatorio
/smart.sorteioNET/wwwroot/logo/logo_empresa.png
smart.sorteioNET/wwwroot/Termo
/smart.sorteioNET/wwwroot/logo/logo_empresa_externo.png
/smart.sorteioNET/wwwroot/logo/logo_empresa_interno.png
/smart.sorteioNET/wwwroot/TemplateEmail/assets
